# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Python Cache
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Data and Model Artifacts

logs/*
!logs/.keep

# Jupyter Notebooks
.ipynb_checkpoints/

# IDEs and OS Files
.idea/
.vscode/
*.swp
*.swo
.DS_Store

tools/*
# Ignore data files but keep the directory
data/*
!data/.gitkeep

# Ignore dynamic pre-processing/training artifacts
artifacts/

# Ignore local docs and presentation files untracked on GitHub
docs/
presentation.txt
scientific_methodology.md


